<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1 class="h1">FLUTOO</h1>
           <p>"The ease and simplicity of the <br> program and the way that the flutoo <br> Team have continued to develop  <br> solutions around and integrated with <br> the CRM. We utilize projects for clients <br> and the flutoo meeting for training and <br> presentations. From the mobile device <br> the automated calling and tracking is <br> Fabulous."

           <br><br><span style="color: greenyellow;"> CHRIS SAVOCA EXECUTIVE OFFICER, TRAVELHOST NETWORK.</span></p>
        </div>
        <div class="col-md-8">
            <h1 class="crm">CRM</h1>
            <h2 class="crm">Log in to access Flutoo CRM.</h2>
            
               <h2 class="crm"> © 2023, Flutoo Corporation Pvt. Ltd. <br> All Rights Reserved.</h2>
                <h2 class="crm">Don't have a Flutoo account? Sign Up Now </h2>
    <a routerLink="/fruits/home" class="btn btn-primary">Home Page</a>
        </div>
    </div>
</div>
