.container{
    background-image: linear-gradient(to right top, #052637, #213467, #742c7c, #c30062, #eb121c);
    color: white; 
}
.container:hover{
  background-image: linear-gradient(to right top, #0f0537, #74034c, #c33736, #db8f00, #a8eb12);
}

.glow
{
    padding: 25px 30px;
    background-color: #050801;
    color: #03e9f4;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .glow:hover{
      background: #03e9f4;
          color: #050801;
      box-shadow: 0 0 5px #03e9f4,
                  0 0 25px #03e9f4,
                  0 0 50px #03e9f4,
                  0 0 200px #03e9f4;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  .container{
    margin: 30px;
  }

  .ei{
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
  }